.App {
  text-align: center;
  display: flex;
}
.empty{
  margin-top: 200px;
  margin-left: 5px;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
.ballon{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 80px;
}
.box{
  margin-top: 200px;
  margin-left: 5px;
  height: 300px;
  width: 300px;
}
.ballons {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  color: transparent;
}
#c1{
  background-color: aqua;
}
#c2{
  background-color: bisque;
}
#c3{
  background-color: rebeccapurple;
}
#c4{
  background-color: brown;
}
#c5{
  background-color: peru;
}




#d1{
  background-color: aqua;
  display: none;
}
#d2{
  background-color: bisque;
  display: none;

}
#d3{
  background-color: rebeccapurple;
  display: none;

}
#d4{
  background-color: brown;
  display: none;

}
#d5{
  background-color: peru;
  display: none;

}